
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="3bevdaJpVw9QgvkOWmGv-dU7KdxtZY6mHGcukR5n-cc" />
        <title>Title Page</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/index/stylesheets/sidebar.css" />
        <link rel="stylesheet" type="text/css" href="/index/stylesheets/navbar.css" />
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
    </head>
    <body>
        <nav class="navbar navbar-def navbar-fixed-top">
            <div class="container-fluid ">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../">
                        <img style="margin-top: -10px;" alt="brand" src="/index/images/logo/paalogo.png" width="100" height="40">
                  </a>
              </div>
          
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></a></li>
                    <li><a ><i class="fa fa-amazon" aria-hidden="true"></i> Feature</a></li>
                    <li><a  ><i class="fa fa-gbp" aria-hidden="true"></i>&nbsp; Pricing</a></li>
                    <li><a> <i class="fa fa-free-code-camp" aria-hidden="true"></i> Try it Free</a></li>
                    <li><a href="/index/download/PaaCust.apk"><i class="fa fa-rocket" aria-hidden="true"></i>Download Customer</a></li>
                    <li><a href="/index/download/paadriver.apk"><i class="fa fa-rocket" aria-hidden="true"></i>Download Driver</a></li>
                  
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
        <div id="sidebar-waper">
            <div class="togle-btn" onclick="sidebartoggle()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="sidebar-menue">
            <li class="Dashboard"><a href="/business"> <i class="fa fa-dashboard" aria-hidden="true"></i><span> Dashboard</span></a></li>
            <li class="Profile">
              <a href="#ProfileSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fa fa-cogs"></i>
                  <span>Profile</span>
              </a>
              <ul class="collapse " id="ProfileSubmenu">
                  <li><a href="/business/profile#ppi">Ppi Upload</a></li>
                  <li><a href="/business/profile#ppi">Return Address Update</a></li>
                  <li><a href="/business/profile#ppi">Add Balance</a></li>
                  <li><a href="/business/profile#ppi">Delivered Order</a></li>
                  <li><a href="/business/profile#ppi">Add Sale Channel</a></li>
                  </ul>
            </li>
            <li class="Logout"><a href="/india/logout/cust"> <span> Logout</span></a></li>
            </ul>
        </div>
        
        <div id="main-content">

        </div>
        

        <!-- jQuery -->
        <script src="/index/javascripts/sidebar.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>

