
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/india/stylesheets/inCustRide.css" />
        <script src="/india/javascripts/socket.io.js"></script>
        <script src="/india/javascripts/inCustRideMap.js"></script>
    
    </head>
    <body>
        <div id="massage-notification">
            
        </div>
        
        <div id="map-content">
            <div id="map"></div>
        </div>

        <div id="footer">
            <div id="driver-content">               
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">                    
                        <img class="drive-img img-circle" src="/india/images/tm1.png">
                        <div class="driver-details">
                            <p>Sukanta Sardar</p>
                            <p>Rating: 4.5 <i class="fa fa-star" aria-hidden="true"></i></p>
                            <p class="otp">OTP: 1258</p>
                        </div>
                        <div class="car-details">
                            <p class="text-center">WB96G77581</p>                           
                            <p style="font-size: smaller;" class="text-center">Honda Shin SP</p>                        
                            <a href="tel:9733241208" class="btn btn-success"><i class="fa fa-phone" aria-hidden="true"></i></a>  
                            <a href="sms:9733241208" class="btn btn-success"><i class="fa fa-comments" aria-hidden="true"></i></a>                    
                        </div>
                    </div>
                </div>                              
            </div>
           <div id="booking-content">               
               <div class="row">
                   <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
                       <div id="up-arw" class="text-center" onclick="resizeFooter()" class=""><i class="fa fa-angle-double-up" aria-hidden="true"></i></div>
                       <div id="down-arw" class="text-center" style="display: none;" onclick="restoreFooter()" class=""><i class="fa fa-angle-double-down" aria-hidden="true"></i></div>
                   
                   </div>
                   <div class="row">
                    <div style="margin-top: 20px;" class=" mystyl col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
                        <div id="pickup" > Pickup From : BAnachity Durgaput</div>
                    </div>
                    </div> 
                    <div class="row">
                        <div  class=" mystyl col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
                            <div id="drop" > Going To :BAnachity Durgaput</div>
                        </div>
                    </div> 
                    <div class="row">
                        <div  class=" mystyl col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
                            
                            <button type="button" class="btn btn-lg btn-danger">Cancel</button>
                            
                        </div>
                    </div>                              
           </div>
        
        </div>

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script async defer   
        src="https://maps.googleapis.com/maps/api/js?key=<%=YOUR_API_KEY%>&callback=initMap">
        </script>
    </body>
</html>
