
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/index/stylesheets/sidebar.css" />
        <link rel="stylesheet" type="text/css" href="/india/stylesheets/inPreDriverStyle.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="/india/javascripts/socket.io.js"></script>
        <script src="/india/javascripts/inPreDriverMapjs.js"></script>
        <script src="/india/javascripts/inPreDriverjs.js"></script>
        <script src="/index/javascripts/sidebar.js"></script>
        

        
    </head>

    <body>
        <div id="sidebar-waper">
            <div class="togle-btn" onclick="sidebartoggle()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="sidebar-menue">
            <li class="Dashboard"><a href="/business"> <i class="fa fa-dashboard" aria-hidden="true"></i><span> Dashboard</span></a></li>
            <li class="Profile">
              <a href="#ProfileSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <i class="fa fa-cogs"></i>
                  <span>Profile</span>
              </a>
              <ul class="collapse " id="ProfileSubmenu">
                  <li><a href="/business/profile#ppi">Ppi Upload</a></li>
                  <li><a href="/business/profile#ppi">Return Address Update</a></li>
                  <li><a href="/business/profile#ppi">Add Balance</a></li>
                  <li><a href="/business/profile#ppi">Delivered Order</a></li>
                  <li><a href="/business/profile#ppi">Add Sale Channel</a></li>
                  </ul>
            </li>
            <li class="Logout"><a href="/india/preDrv/logout"> <span> Logout</span></a></li>
            </ul>
        </div>
        
        <div id="main-content">
            <div id="heder-content">
                <input id="toggle" class="toggle" type="checkbox" role="switch" name="toggle" value="on">
                <label for="toggle" class="slot"></label>
                <div class="curtain"></div>
                <script>
                        // for accessibility only
                        document.getElementById("toggle").addEventListener("change",function() {
                            this.setAttribute("aria-checked",this.checked);
                        });
 
                </script>
            </div>
            
            <div id="nofofride">               
               <div class="container-fluid">                  
                  <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                          <p class="text-center">Ride Details</p>
                      </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div id="rideList" class="rideList">
                            <!-- <div class="row listItem">
                                <div class="col-xs-9 col-sm-9 ">
                                    <p class="prerideName">Pickup : Sukanta Saradr</p>
                                    <p class="prerideads">St 2 Benachity , Durgapur</p>
                                </div>
                                <div class="col-xs-3 col-sm-3">                                 
                                    <input id="geoNav" type="hidden">
                                    <button onclick="openMap()" type="button" class="btn btn-info mybtn"><i class="fa fa-location-arrow" aria-hidden="true"></i></button>
                                </div>
                                <div class="col-xs-9 col-sm-9">
                                    <input onclick="clineLocated()" id="clineLocated" class="pickupPreridebtn" type="button" value="Cline Located">
                                    <input onclick="startRide()" id="startRide" class="pickupPreridebtn" type="button" value="Start Ride">
                                    <input onclick="finishride()" id="finishride" class="pickupPreridebtn" type="button" value="Finish Ride">
                                </div>
                                <div class="col-xs-3 col-sm-3 telmsg">
                                    <a href="tel:'+data.cust.isdCode+data.cust.mobileNumber+'"><button type="button" class="btn btn-warning btn-xs"><i class="fa fa-phone" aria-hidden="true"></i></button></a>
                                    <a href="sms:'+data.cust.isdCode+data.cust.mobileNumber+'"><button type="button" class="btn btn-warning btn-xs"><i class="fa fa-comments" aria-hidden="true"></i></button></a>
                                </div>

                                
                            </div> -->

                        </div>
                    </div>
                </div>
                   
               </div>               
            </div>

            <div id="mapcontent" class="container-fluid"> 
                  <div id="map"></div>               
                
            </div>
            <div id="Offline">
                <div  id="offline-content">Offline</div>
            </div>
            
            
        </div> 

        
       
        
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </script>>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script async defer   
        src="https://maps.googleapis.com/maps/api/js?key=<%=YOUR_API_KEY%>&callback=initMap">
        </script>
    </body>
</html>
