<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Paa Login</title>
        <link href="/india/images/logo/paaicon.png" rel="icon">
        <link rel="stylesheet" type="text/css" href="/india/stylesheets/instyle.css" />
        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- <script src="/india/javascripts/inPreDriverjs.js"></script> -->
        
        
    </head>
    <body>
        <!-- <div class="headernav">
            <img src="/india/images/logo/paalogo.png">
        </div> -->
        
        
       
       <div class="container-fluid">

        <div style="background-color: #facb3d;" class="row">
            <div class="col-xs-4 col-sm-4 col-xs-offset-4 col-sm-offset-4 ">
                <img style="width: 100%;" src="/india/images/logo/paalogo.png">
            </div>
        </div>
         
         <div style="margin-top: 30px;" class="row">
             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="list-group">
                    <li class="list-group-item active ">
                      <span style="font-size: medium;" class="badge">&#8377;  <%=previousDue + dailyCollection%></span>
                      Total Cash Collection
                    </li>
                    <li class=" list-group-item list-group-item-info ">
                        <span class="badge">&#8377;  <%=previousDue%></span>
                        Previous Due
                      </li>
                      <li class=" list-group-item list-group-item-info ">
                        <span class="badge">&#8377;  <%=dailyCollection%></span>
                        Today's Collcetion
                      </li>
                  </ul>
                                 
             </div>

             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="list-group">
                    <li class="list-group-item active ">
                      <span style="font-size: medium; " class="badge">&#8377; 90.00</span>
                      Fule Consumption
                    </li>
                    <li class=" list-group-item list-group-item-info ">
                        <span class="badge">&#8377; 10.00</span>
                        Pending Consumption
                      </li>
                    <li class=" list-group-item list-group-item-info ">
                        <span class="badge">&#8377; 80.00</span>
                        Today's KM Run 50KM<br>
                        Fl Price :&#8377; 75 Milege: 50
                      </li>
                </ul>                
            </div>
         </div>


         <div class="row">
            <div class="col-xs-6 col-sm-6">                
                <button type="button" class="btn btn-warning btn-block col-xs-12 col-sm-12">Withral &#8377; 0.00</button>                
            </div>
            <div class="col-xs-6 col-sm-6">                
                <button type="button" class="btn btn-success btn-block col-xs-12 col-sm-12">Deposit &#8377; 10.00</button>                
            </div>
        </div>

 
           
       </div>
       
        
        
            
       
        
        
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>

